#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 1 Q           &kp W         &kp E         &kp R    &kp T                                           &kp Y      &kp U  &kp I      &kp O       &lt 1 P
&lt 2 A           &kp S         &kp D         &kp F    &kp G      &trans                &kp DEL        &kp H      &kp J  &kp K      &kp L       &lt 2 LEFT_BRACKET
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V    &kp B      &kp AT_SIGN           &kp BACKSPACE  &kp N      &kp M  &kp COMMA  &kp PERIOD  &lt 3 RIGHT_BRACKET
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &kp TAB  &kp SPACE  &lt 4 INT_HENKAN      &kp ENTER      &kp MINUS                                &lt 6 LS(LG(S))
            >;

             sensor-bindings = <&encoder_msc_down_up>;
        };

        FUNCTION {
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp SQT        &kp CARET             &kp PIPE                            &kp F5  &kp F7  &kp F8   &kp F9   &trans
&kp HASH         &kp DOLLAR         &kp COLON      &kp NON_US_BACKSLASH  &trans    &trans            &trans  &kp F2  &kp F4  &kp F10  &kp F12  &trans
&kp PERCENT      &kp AMPERSAND      &kp SEMICOLON  &kp QUESTION          &trans    &kp CAPSLOCK      &trans  &kp F1  &kp F3  &kp F6   &kp F11  &trans
&trans           &trans             &trans         &trans                &trans    &trans            &trans  &trans                            &trans
            >;
        };

        NUM {
            bindings = <
&kp SLASH  &kp N7        &kp N8        &kp N9        &kp ASTERISK                         &kp COLON     &kp LS(LC(HOME))  &kp LC(LS(END))  &trans             &trans
&kp MINUS  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS      &trans         &trans  &kp LC(HOME)  &kp HOME          &kp PAGE_UP      &kp LC(PAGE_UP)    &trans
&trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0        &kp EQUAL      &trans  &kp LC(END)   &kp END           &kp PAGE_DOWN    &kp LC(PAGE_DOWN)  &trans
&trans     &trans        &trans        &trans        &trans        &trans         &trans  &trans                                                              &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &trans          &kp UP_ARROW    &trans           &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans          &trans           &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans          &trans           &trans  &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                     &none  &none     &none     &none     &none
&trans  &trans  &trans  &trans  &trans  &trans      &none  &none  &mkp MB1  &mkp MB3  &mkp MB2  &none
&trans  &trans  &trans  &trans  &trans  &trans      &none  &none  &none     &none     &none     &none
&trans  &trans  &trans  &trans  &trans  &trans      &none  &none                                &none
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &trans
            >;
        };
    };
};
